<div class="row" *ngFor="let session of filteredSessions">
  <div class="col-md-1">
    <upvote (vote)="toggleVote(session)" [count]="session.voters.length" [voted]="userHasVoted(session)"></upvote>
  </div>
  <div class="col-md-10">
    <!-- remember we pass parameter to component with [someParameter]-->
    <collapsible-well [title]="session.name">
      <h6>{{session.presenter}}</h6>
      <span>Duration: {{session.duration | duration}}</span>
      <br />
      <span>Level: {{session.level}}</span>
      <p>{{session.abstract}}</p>
    </collapsible-well>
  </div>
</div>